*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo{
    float: left;
    width: 90px;
    height: 90px;
    padding-left: 3rem;
}

.logo a{
    text-decoration: none;
}


.hidden{
    display:none
}

@media screen and (max-width: 991px){ 
    #cart{
    display: none;
    }
}

.navbar-nav li{
    padding-left:20px;
    padding-right:20px;
}